html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }
  @media only screen and (min-width: 0) {
    html {
      font-size: 14px; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }

h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.1; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 4.2rem;
  margin: 2.1rem 0 1.68rem 0; }
h2 {
  font-size: 3.56rem;
  margin: 1.78rem 0 1.424rem 0; }
h3 {
  font-size: 2.92rem;
  margin: 1.46rem 0 1.168rem 0; }
h4 {
  font-size: 2.28rem;
  margin: 1.14rem 0 0.912rem 0; }
  @media screen and (max-width: 370px) {
    h1 {
      font-size: 3.56rem;
      margin: 1.78rem 0 1.424rem 0; }
    h2 {
      font-size: 2.92rem;
      margin: 1.46rem 0 1.168rem 0; }
    h3 {
      font-size: 2.28rem;
      margin: 1.14rem 0 0.912rem 0; }
    h4 {
      font-size: 1.44rem;
      margin: 1.14rem 0 0.912rem 0; } }

code, .code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono",
    Menlo, Courier, monospace; }

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  font-size: 75%; }

label {
  color: #9e9e9e;
  font-size: 0.8rem; }

ul {
  padding: 0;
  list-style-type: none; }
  ul.browser-default, ul.browser-default li {
    list-style-type: initial; }
  ul li {
    list-style-type: none; }

.container {
  margin: 0 auto;
  max-width: 540px;
  padding: 0 15px; }

.avatar-container {
  padding: 0; }
  @media screen and (max-width: 460px) {
    .avatar-container {
      padding: 0 20px 10px; } }
  @media screen and (min-width: 461px) {
    .avatar-container {
      display: inline-block; } }
.avatar {
  display: block;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-image: url(../jason.jpg);
  background-repeat: no-repeat;
  background-position: 58% 0;
  background-size: 80px 90px; }
  @media only screen and (min-width: 1200px) {
    .avatar {
      width: 100px;
      height: 100px;
      background-size: 100px 113px; } }
  @media screen and (min-width: 461px) {
    .avatar {
      display: inline-block;
      vertical-align: middle; } }
  @media screen and (max-width: 460px) {
    .avatar {
      display: block;
      margin: auto;
      width: 180px;
      height: 203px;
      background-size: 100%;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px; } }
  @media screen and (max-width: 307px), (max-height: 460px) {
    .avatar {
      display: none; } }
